*{
  box-sizing: border-box;
}


@font-face {
  font-family: gotham;
  src:url(Gotham-Medium.otf);
}

body{
  background-color: #fff;
}

.background{
  width: 100%;
  height: 100%;
}

.menuBar{
  display: initial;
  width: 100%;
  padding: 5px 10px;
  background-color: #f2f2f2;
  margin: 0px;
  box-shadow: 0px 3px 10px #f2f2f2;
  position: fixed;
  top:0;
  left:0;
  z-index: 2;
}

.logo{
	display:block;
}

.menu{
  flex-grow: 1;
  list-style-type: none;
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
  justify-content: space-around;
}

.menu a{
  /*border: 3px dashed white; 8c8c8c*/
  justify-content: flex-end;
  text-decoration: none;
  font-style: bold;
  color: #8c8c8c;
  font-size: 14px;
  font-family: gotham;
  padding: 5px 5px;
  transition-duration: .4s;
  border-radius: 12%;
  cursor:pointer;
}

.menu li{
  flex-grow: 1;
  margin: 10px 5px;
}

.menu a:hover{
  font-size: 15px;
  padding-bottom: 10px;
  color: #4ab036;
}

.dropdownMaster{
  position: relative;
}

.dropdownContent{
  display: none;
  position: absolute;
  left:5px;
  top: 25px;
  background-color: #f9f9f9;
  width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a{
	cursor:pointer;
	margin: 5px 3px;
	padding: 5px 10px;
	display:block;
}

.show{
  display: block;
}

.slidematerial{
  margin-top: 0px;
}

.slideshow{
  position: relative;
}

.bulletcollections{
  position: absolute;
  bottom:20px;
  left: 46%;
}

.bullets{
  width:15px;
  height:15px;
  background-color: #d9d9d9;
  opacity: .7;
  border-radius: 50%;
  margin: 0px 2px;
  display: inline-block;
  transition-duration: .3s;
}

.currentBullet{
  background-color: #a6a6a6;
}

.bullets:hover{
  cursor: pointer;
  background-color: #717171;
}


/*LISTBAR--------------------------------------------------------------*/

.ourStrat{
	text-align: center;
  padding-bottom: 50px;
	/*display: flex;
	justify-content: space-between;
	flex-wrap: wrap;*/
}

.titlee{
	text-align: center;
	font-size: 28px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
	color: #404040;
}
.titlee h2{
	margin-bottom: 0px;
}

.line{
	border-top: 2px double #00994d;
	border-top-width: medium;
	width: 80px;
	margin: 0px auto 40px auto;
	text-align: center;
	border-width: 4.5px;
}

.listbar{
	text-align: center;
	margin-bottom: 80px;
}

.listbar h1{
	margin-top: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-bottom: 40px;
	color: #00994d;
}

.listbar p{
	margin: 0px;  /*ini bisa diganti, width box of the paragraph*/
	line-height: 20px;
	padding: 0px 10px;
	font-size: 14px;
	color: #404040;
}

.listbar img{
	width: 100px;
	margin-bottom: 0px;
}

.list{
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
}

/* --- Contact Us CSS --- */

/*LISTBAR--------------------------------------------------------------*/

.contact-us{
  background-color: #4ab036;
  padding-top: 40px;
  box-shadow: 0px 10px 10px #f2f2f2;
  height: 90%;
}

.greenBG{
	border-top: 2px double #fff;
  border-top-width: medium;
}

.contact{
	display: flex;
	align-content: flex-start;
}

.map{
	margin-right: 50px;
}

.allBullet{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.bullet{
	margin: 5px 0px;
}

.bullet img{
	width: 50px;
	display: inline-block;
	vertical-align: middle;
	align: center;
  filter: brightness(190%);
}

.info{
	display: inline-block;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
  color: #fff;
}

.info p{
	margin: 0px;
	padding: 0px;
}

.info ul{
	margin: 0px 0px 0px 20px;
	padding: 0px;
	list-style-type: none;
}

.info li{

}

.socmed{
	margin: 0px 0px 0px 20px;
	display: inline;
}

.socmed img{
	display: inline-block;
	width: 30px;
	filter: brightness(100%);
	vertical-align: middle;
}

.socmed img:hover{
  filter: brightness(80%);
  transition-duration: .4s;
}

/* --- Footer --- */

.foot{
	display: block;
	text-align: center;
	padding: 16px 0px;
	vertical-align: middle;
	background-color: #f2f2f2;
}

.foot p{
  line-height: normal;
  color: #8c8c8c;
  margin: 10px 0px;
}

.socialPic{
	width:20px;
	height:20px;
}


.facebook{
	padding:4px;
	border-radius:50%;
	transition-duration: .4s;
	background-color: #bfbfbf;
}

.facebook:hover{
	background-color: #8c8c8c;
}

@media (min-width: 900px){
	.ourStrat{
		display: inline-block;
		justify-content: space-between;
		flex-direction: row;
		margin: 0px 30px;
	}

	.listbar{
		display: inline-block;
		vertical-align: top;
		width: 20%;
		box-sizing: border-box;
		margin: 0px 20px;
	}

	.menuBar{
	  display: flex;
	}

	.logo{
	  flex-grow: 3;
	  margin-left: 10px;
	  /*border: 1px solid blue;*/
	}



}
